html {
    height: 100%;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(#00012e, #000000, #00012e);
    background-repeat: no-repeat;
    color: white;
}

.content {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.content > h1 {
    font-family:fantasy;
    letter-spacing: 5px;
    font-weight: 500;
}

.content > p {
    font-size: 28px;
}

.curWorkoutDesc {
    font-size: 17px;
}

.workoutDiv {
    margin: auto;
    max-width: fit-content;
    padding: 35px;
    border-radius: 2rem;
    background-color: #000000a6;
}

.cut {
    padding: 25px 25px;
    border-radius: 12px;
    border: none;
    background-color: #a94beb;
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

.curWorkout {
    font-style: italic;
}

#workoutDay {
    border: none;
    height: 40px;
    width: 70px;
    font-weight: bold;
    margin-bottom: 35px;
}

.curWorkoutReps {
    font-style: italic;
}

.openConfirmReset {
    display: inline-block;
    font-size: 35px;
    position: fixed;
    left: 0%;
    bottom: 0%;
    padding: 0.8rem 0.7em;
    margin: 15px;
    border-radius: 50%;
    background-color: #a94beb;
    color: white;
    border: black solid 2px;
    cursor: pointer;
}

.skipWorkout {
    display: table-cell;
    font-size: 32px;
    padding: 0.4rem 0.7em 0.8rem;
    margin: 15px;
    background-color: #a94beb;
    border-radius: 5%;
    color: white;
    border: black solid 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
}

.backWorkout {
    display: table-cell;
    font-size: 32px;
    padding: 0.4rem 0.7em 0.8rem;
    margin: 15px;
    background-color: #a94beb;
    border-radius: 5%;
    color: white;
    border: black solid 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
}

.dashboard {
    display: flex;
}



.hidden {
    display: none;
}





/* MODAL WINDOW CONFIRM RESET */

.confirmReset {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background-color: white;
    color: black;
    padding: 30px 0px;
    border-radius: 20px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.confirmReset > h1 {
    font-size: 22px;
}

.close-modal {
    font-weight: bold;
    background-color: red;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    margin-right: 15px;
}

.reset {
    font-weight: bold;
    background-color: lime;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}